*.bmp
*.pbm
*.pgm
*.jpg
.vscode/
*.ppm
*.png
*.zip
*.odt#
*.jpeg
*.odg
*.tga
aula01/basico/compila
aula01/basico/borda
aula01/basico/homework1
aula01/basico/inv_1d2
aula01/basico/inv_cek
aula01/basico/invertec_ocv
aula01/basico/inv_ocv
aula01/basico/inv_ocv2
aula01/basico/mostra
aula01/basico/mostra_cv
aula01/crescimento_de_semente/homework2
aula01/crescimento_de_semente/pinta_fila
checking_opencv_installation/hello_opencv
aula02/filtros_e_convolucao/filtlin/enfbordac
aula02/filtros_e_convolucao/filtlin/media
aula02/filtros_e_convolucao/filtlin/media_borda
aula02/filtros_e_convolucao/filtlin/media-movel
aula02/filtros_e_convolucao/gradiente/homework2
aula02/filtros_e_convolucao/media-mediana/blur
aula02/filtros_e_convolucao/media-mediana/media
aula02/filtros_e_convolucao/textura/homework1
cpp_examples/nth_element_example

#compila_path_file/compila.sh
# for f in $(find . -perm /111 -type f | grep -v '.git' | sed 's#^./##' | sort -u); do grep -q "$f" .gitignore || echo "$f" >> .gitignore ; done
aula02/filtros_e_convolucao/gradiente/homework2/homework2
aula02/filtros_e_convolucao/textura/homework1/homework1
aula03/casamento_de_modelo/homework1
aula03/casamento_de_modelo/homework2
aula03/casamento_de_modelo/match1d
aula03/casamento_de_modelo/match1d3
aula03/casamento_de_modelo/match2d
aula03/transformacoes_geometricas/ka0.jpg
aula03/transformacoes_geometricas/ka1.jpg
aula03/transformacoes_geometricas/vizinho
aula03/transformacoes_geometricas/linear
